[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-migrate = "*"
celery = {extras = ["redis"], version = "*"}
spotipy = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.8"
