<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
</head>

<body>
  <h1 style="color: blue">Logs</h1>
  <p id="output"></p>
</body>
<script>
    var output = document.getElementById('output');
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/stream');
    xhr.send();

    setInterval(function() {
        console.log(xhr.responseText)
        output.innerText = xhr.responseText;
    }, 1000);
</script>

</html>